/* body{
  position: relative;
} */

.profile{
  /* text-align: center; */

  border-radius: 100%;
  width: 250px;
  margin: auto;
}

.img-profile{
  /* position: absolute; */
  padding:100px 0 100px;
  background-image: url(../images/hacker-nights-tw-article.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-align: center;
  width: 100%;
  margin: 0px auto 10px ;
}

.myskills{
  width: 50%;
  margin: auto;
  text-align: center;
  /* padding: 0 15%; */
}

.contact{
  width: 50%;
  margin: auto;
  text-align: center;
  padding:0 0 100px;
}

.exp{
  text-align:center;
  width: 50%;
  margin: auto;
}
td{
  padding: 10px;
}
table{
  color: white;
  margin: auto;
}

body{
  background-color: black;
}

a{
  text-decoration: none;
}

p{
  text-align: left;
  color: white;
  font-family: 'Roboto Mono', monospace;
  width: 100%;
}

h2{
  text-align: center;

  margin-bottom: 50px;
  color: white;
  font-family: 'Roboto Mono', monospace;
}
h3{

  color: white;
  font-family: 'Roboto Mono', monospace;
}

hr{
  border-top: 5px dotted white;
  width: 5%;
  margin: 100px auto;
}
