/* body{
  position: relative;
} */
body{
  background-color: black;
}

.profile{
  /* text-align: center; */

  border-radius: 100%;
  margin: auto;
}

.img-profile{
  /* position: absolute; */
  padding:100px 0 100px;
  background-image: url(../images/hacker-nights-tw-article.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-align: center;
  width: 100%;
  margin: 0px auto 10px ;
}

.myskills{
  width: 100%;
  margin: auto;
  text-align: center;
  padding: 100px;
}
a{
  text-decoration: none;
}
p{
  text-align: left;
  color: white;
  font-family: 'Roboto Mono', monospace;
  width: 100%;
}
h2{
  margin-bottom: 50px;
  color: white;
  font-family: 'Roboto Mono', monospace;
}
hr{
  border-top: 5px dotted white;
  width: 5%;
  margin-top: 100px;
}

.contact{
  width: 100%;
  margin: auto;
  text-align: center;
  padding: 100px;
}
